MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_DB_NAME=exampledbname
MONGODB_URI=mongodb://admin:password@mongo:27017/dbname?authSource=admin

MAIL_DOMAIN=example.com
MX_HOSTNAME=mx.example.com

INGEST_HOST=ingest
INGEST_LMTP_PORT=2400
INGEST_MAP_PORT=2500
MESSAGE_SIZE_LIMIT=26214400

TEST_ADDRESS_TTL_MINUTES=10

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
REDIS_URL=redis://redis:6379/2

SPAMD_HOST=spamassassin
SPAMD_PORT=783

DNS_RESOLVER=dns
DNS_TIMEOUT=3.0
DNS_LIFETIME=5.0

SSE_TIMEOUT=900

DNSBL_TIMEOUT=2.0
DNSBL_LIFETIME=2.0
DNSBL_MAX_LISTS=20
DNSBL_CONCURRENCY=10

TOKEN_EXPIRE_MINUTES=2060
SECRET_KEY=change-me
ALGORITHM=HS256
