compatibility_level = 3.6

myhostname = ${MX_HOSTNAME}

inet_protocols = ipv4

default_transport = discard

maximal_queue_lifetime = 1h
bounce_queue_lifetime = 1h

mydestination =
local_recipient_maps =
local_transport = error:5.1.1 no local delivery
alias_maps =
alias_database =

virtual_mailbox_domains = ${MAIL_DOMAIN}
virtual_mailbox_maps = static:all
virtual_transport = lmtp:inet:${INGEST_HOST}:${INGEST_LMTP_PORT}

lmtp_host_lookup = native

relayhost =
smtpd_recipient_restrictions =
    reject_unauth_destination
    check_recipient_access tcp:${INGEST_HOST}:${INGEST_MAP_PORT}
    reject

smtpd_sasl_auth_enable = no

smtpd_tls_security_level = may
smtpd_tls_cert_file = ${TLS_CERT_FILE}
smtpd_tls_key_file = ${TLS_KEY_FILE}
smtpd_tls_loglevel = 1

smtpd_tls_received_header = yes

message_size_limit = ${MESSAGE_SIZE_LIMIT}
smtpd_recipient_limit = 5
smtpd_client_connection_count_limit = 10
smtpd_client_connection_rate_limit = 30
smtpd_client_message_rate_limit = 30

smtpd_reject_unlisted_recipient = yes
notify_classes =

maillog_file = /dev/stdout
